extends layout
block content
  h1= title
  if (toShow == null) 
    h2 No instance to delete 
  else    
    - let vehicleid = toShow._id
    - let vehicle_type = toShow.vehicle_type
    - let vehicle_price = toShow.vehicle_price
    - let vehicle_name = toShow.vehicle_name
    div
    div.row
    div(class='vehicleAttr mr-3') vehicle ID is:
    div #{vehicleid}
    div.row
    div(class='vehicleAttr mr-3') vehicle Type is:
    div #{vehicle_type}
    div.row
    div(class='vehicleAttr mr-3') vehicle price is:
    div #{vehicle_price}
    div.row
    div(class='vehicleAttr mr-3') vehicle name is:
    div #{vehicle_name}