extends layout

block content
  h1=title
  div(class='container' style="text-align: center;")
        button.btn( onclick=`dispatch(\"/vehicle/create\")`) Create
  - var k = [{"vehicle_name": "volvo", "vehicle_price": 220, "vehicle_type": "lemosin"},{"vehicle_name": "mrf", "vehicle_price": 100, "vehicle_type": "suv"},{"vehicle_name": "tvs", "vehicle_price": 120, "vehicle_type": "sedan"}]
  h1= title
  - let result=results
  div(class="container-fluid")
    div(class="row m-1")
        each item in results
            div(class="row-sm-2", class="m-1") Vehicle Name: #{item.vehicle_name}<br>Vehicle Price: #{item.vehicle_price}<br>(Vehicle type: #{item.vehicle_type})<br>
              button.btn(onclick=`dispatch(\"/vehicle/detail?id=${item._id}\")`) View
              button.btn(onclick= `dispatch(\"/vehicle/update?id=${item._id}\")`) Update
              button.btn(onclick= `dispatch(\"/vehicle/delete?id=${item._id}\")`) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }